<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mi app angular</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body class="hmtl"></body>
  <br>
  <h2>Tienda de Celulares 'El Sapito'</h2>
  <br>
  <p>¡La tienda 'El Sapito' cuenta con las mejores descuentos!</p>
  <br>
  <p class="segundo"> ¿Qué esperas para conseguir el telefono de tus sueños? </p>
  <br>
  <ul>
    <li><a href="https://www.samsung.com/co/" target="_blank">Samsung</a></li>
    <li><a href="https://www.apple.com/co/">Apple</a></li>
    <li><a href="https://consumer.huawei.com/co/">Huawei</a></li>
  </ul>
  <br>
  <table>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Precio</th>
    </tr>
    <tr>
      <td>Huawei</td>
      <td>Pura 70</td>
      <td>3'800.000</td>
    </tr>
    <tr>
      <td>Samsung</td>
      <td>Galaxy S24 Ultra</td>
      <td>4'789.000</td>
    </tr>
    <tr>
      <td>Apple</td>
      <td>Iphone 15</td>
      <td>3'700.000</td>
    </tr>
  </table>

  <body>
    <div class="contenedor">
      <div class="header">
        <div class="logo"> </div>
        <h2 class="sapito">Celulares 'El Sapito'</h2>
        <div class="buscador"> </div>
      </div>
      <div class="main">
        <div class="slidebar">slide-bar</div>
        <div class="content"></div>
      </div>
      <div class="footer">
        <div class="footer1">
          <p>Samsung</p>
        </div>
        <div class="footer2">
          <p>Apple</p>
        </div>
        <div class="footer3">
          <p>Huawei</p>
        </div>
      </div>

    </div>
  </body>
<body>
  
   
</body>
</html>
