<form [formGroup] = "loginForm" >
    <div class="card flex justify-content-center">
        <p-card header="Login" [style]="{width: '360px'}">
            (❁´◡`❁)👁️👄👁️
            <div class="field">
                <input type="text" pInputText formControlName = 'usuario' class="w-full" name="usuario" placeholder="Nombre del usuario">
            </div>
            <div class="field">
                <input type="text" pInputText formControlName = 'password' class="w-full" name="password" placeholder="Nombre del usuario">
            </div>
        </p-card>
    </div>
</form>

<p>login works!</p>
