USE [vaciones_db]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/12/2024 22:44:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[email] [varchar](70) NULL,
	[phone] [varchar](50) NULL,
	[name_g] [varchar](50) NULL,
	[email_g] [varchar](50) NULL,
	[date_ini] [date] NULL,
	[date_fi] [date] NULL,
	[notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [name], [lastName], [email], [phone], [name_g], [email_g], [date_ini], [date_fi], [notes]) VALUES (6, N'pepito', N'perez', N'pepito@gmail.com', N'3236693669', N'Edwin Lopez', N'lopecito@gmail.com', CAST(N'2024-12-16' AS Date), CAST(N'2024-12-20' AS Date), N'hola')
INSERT [dbo].[Usuarios] ([id], [name], [lastName], [email], [phone], [name_g], [email_g], [date_ini], [date_fi], [notes]) VALUES (7, N'Andres', N'Martinez', N'amartinez@gmail.com', N'3236693675', N'Luis Perez', N'luchop@gmail.com', CAST(N'2024-12-16' AS Date), CAST(N'2024-12-20' AS Date), N'solicitud para vacaciones ')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
