
<div class="flex justify-content-center">
  <br>
  Fomulario de Solicitud de Vacaciones
  <br>
</div>
<div>
  <br>
  <div class="flex justify-content-center">
    <app-p-information></app-p-information>
  </div>
</div>
<div>
  <div class="flex justify-content-center">
    <app-g-information></app-g-information>
  </div>
</div>
  <div class="flex justify-content-center">
    <app-license></app-license>
  </div>
  <br>
  <div class="flex justify-content-center">
    <button pButton type="submit" label="Enviar"></button>
  </div>


